<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sirryanscott.familymap">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDHCLBvV6cjbSArwVgcSQQ8uKBwdvL-AcQ" />
        <!-- android:value="AIzaSyD9w-BQBIMVsFExgOk_NnyR0WBY7XeQJW4" /> -->


        <activity
            android:name=".MainActivity"
            android:screenOrientation="reversePortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Person.PersonActivity"
            android:screenOrientation="reversePortrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sirryanscott.familymap.Person.PersonActivity" />
        </activity>
        <activity
            android:name=".Map.MapActivity"
            android:screenOrientation="reversePortrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sirryanscott.familymap.Map.MapActivity" />
        </activity>
        <activity
            android:name=".Search.SearchActivity"
            android:screenOrientation="reversePortrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sirryanscott.familymap.Search.SearchActivity" />
        </activity>
        <activity
            android:name=".Filter.FilterActivity"
            android:screenOrientation="reversePortrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sirryanscott.familymap.Filter.FilterActivity" />
        </activity>
        <activity
            android:name=".Settings.SettingsActivity"
            android:screenOrientation="reversePortrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sirryanscott.familymap.Settings.SettingsActivity" />
        </activity>
    </application>

</manifest>